@page "/"

<h3>文章レビュー</h3>

<EditForm Model="TextInput" OnValidSubmit="ShowDiff">
    <DataAnnotationsValidator />
    <div>
        <label>レビューする文章</label><br />
        <InputTextArea @bind-Value="TextInput.OriginalText" maxlength="1000" rows="5" cols="60" />
        <ValidationMessage For="() => TextInput.OriginalText"/>
    </div>

    <div>
        <label>レビューの観点</label><br />
        <InputTextArea @bind-Value="TextInput.Hint" maxlength="1000" rows="5" cols="60" placeholder="例）誤字脱字チェックをお願いします。"/>
        <ValidationMessage For="() => TextInput.Hint" />
    </div>
    <div style="margin-top:10px;">
        <button type="submit" class="button-style">レビュー開始</button>
    </div>
</EditForm>




<hr/>

@if(isWaiting)
{
    <div style="display: flex; align-items: center; justify-content: center;">
        <FluentProgressRing></FluentProgressRing>
    </div>
}


<div>
    @comment
</div>

@if (isDisplayDiff)
{
    <!-- JSから生成された差分HTMLを表示するコンテナ -->
    <button type="button" style="margin-top:20px;" class="button-style" @onclick="CopyAsync">添削後の文章をコピー</button>
}

<div @ref="diffElement" style="margin-top:20px; width:calc(100vw - 100px); display: @DisplayString;" />